html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

#main_wrap {
  display: block;
}

#menu_and_avatar {
  width: 500px;
  height: 212px;
  margin: auto;
  position: relative;
}

#blog {
  width: 100px;
  height: 120px;
  display: block;
  position: absolute;
  top: 40px;
  left: 90px;
  z-index: 9;

  text-align: left;
  line-height: 120px;
  padding-left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;

  background-color: #369;
  border-width: 1px;
  border-style: solid;
  border-color: #666;
  border-radius: 60px;

  transition: width 1s, left 1s;
}

#blog:hover {
  width: 180px;
  left: 30px;
}

#avatar {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  z-index: 10;

  border-width: 6px;
  border-style: solid;
  border-color: #fff;
  border-radius: 50%;
}

#projects {
  width: 100px;
  height: 120px;
  display: block;
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: 9;

  text-align: right;
  line-height: 120px;
  padding-right: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;

  background-color: #369;
  border-width: 1px;
  border-style: solid;
  border-color: #666;
  border-radius: 60px;

  transition: width 1s, right 1s;
}

#projects:hover {
  width: 180px;
  right: 30px;
}

#name {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  color: #333;
  width: 300px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

#status {
  font-size: 1.2em;
  text-align: center;
  font-family: sans-serif;
  color: #333;
  font-style: oblique;
  width: 300px;
  margin: auto;
}

.links {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
}

.link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#twitter {
  background-image: url(../logo/twitter.png);
  background-size: contain;
}

#vk {
  background-image: url(../logo/vk.png);
  background-size: contain;
}

#instagram {
  background-image: url(../logo/instagram.png);
  background-size: contain;
}

#telegram {
  background-image: url(../logo/telegram.png);
  background-size: 120%;
  background-position: center;
}

#github {
  background-color: white;
  background-image: url(../logo/github.png);
  background-size: contain;
}

#mail {
  background-image: url(../logo/mail.svg);
  background-size: contain;
}
